defaults: &defaults
  ENV_YAML: true

development:
  <<: *defaults
  FLICKRAWAPI: change_me
  FLICKRAWSECRET: change_me

test:
  <<: *defaults
  FLICKRAWAPI: change_me
  FLICKRAWSECRET: change_me

production:
  <<: *defaults
  FLICKRAWAPI: change_me
  FLICKRAWSECRET: change_me
